.usuarios__container{
    background-color: #fff;
    padding: 20px;
    border-radius: 3px;
}

.table_responsive{
    overflow-x:auto;
}
.usuarios__container h2{
    margin-bottom: 25px;
    color:#444;
    font-size: 1.6em;
}

.usuarios__table{
    width: 100%;
    text-align: left;
    margin-top: 15px;
    color: rgb(111, 122, 146);
}

.usuarios__table thead{
    background-color: #ddd;
    color: #444;
}


.usuarios__table tbody td, .usuarios__table thead th{
    padding: 5px;
}

.usuarios__table button, .usuarios__container .btn-add, .usuarios__table .btn-warning{
    padding: 5px 7px;
    border-radius: 15px;
    background-color: tomato;
    color: #fff;
    text-decoration: none;
    border: none;
    cursor: pointer;
    text-align: center;
    font-size: .9em;
}

.usuarios__table .btn-warning, .usuarios__table .btn-danger{
    font-size: .7em;
}

.usuarios__table .btn-warning{
    background-color: rgb(255, 227, 71);
    color: #444;
}

.usuarios__container .btn-add{
    background-color: #27ae60;
    padding: 8px 20px;
}